{% set test = '' %}
  
    
    <table class=" light_grey data-list " id='results_table'>
      <thead>
        <tr>
          <th>OF</th>
          <th>Color</th>
          <th>Dia</th>
          <th>Hora</th>
          <th>maquina</th>
          <th>Accions</th>
        </tr>
      </thead>

      <tbody>

{% if resultats|length > 0 %}

{% for resultat in resultats %}

    {% set test = resultat.getTest() %}
    {% set of = test.getOf() %}

       {%if of %}

        <tr class='unclicked clickedException'>
          
          <td><a href="{{ path('iniciar_test',{'OF':of.id}) }}">{{ of.numero }}</a></td>
          <td> {{ of.color }}</td>
          <td> {{ resultat.data | date('d-m-Y')  }}</td>
          <td> {{ resultat.data | date('H:i:s')  }}</td>
          <td> {{ resultat.maquina.numero }}</td>
          
          <td >
          {#  <a href="{{path(
             'render_result',{'resultat_id':resultat.id})}}">
</a> #}
            <span 
              class='gotest veure fa fa-arrow-circle-right' 
              data-resultat='{{resultat.id}}'>
            </span>
        

           </td>
        </tr>
     {% endif %}
{% endfor %}

{% endif %}
    </tbody>
  </table>

  
