{#
   Recibe las variables:

    - $OF_list 
        { generada por: 'of.manager'->getUnDoneOf() }
#}

<div class="one_col_contenedor">

  <div class="subsection_title">
    <h2> Ordres de fabricació obertes</h2>
  </div>

    <table id="tests_table" class="stripe" cellspacing="0" width="100%">
        <thead>

          <tr>
            <th>Data Inici</th>
            <th>Linia</th>
            <th>Partida</th>
            <th>Color</th>
            <th>Descripcio</th>
            <th>Accions</th> 
          </tr>
        </thead>

        <tbody>

  {% for OF in OF_list %}
        
          <tr>
            <td>{{ OF.data|date('Y-m-d') }}</td>
            <td>{{ OF.getLinia().numero }}</td>
            <td>{{ OF.getNumPartida() }}</td>
            <td>{{OF.color}}</td>
            <td>{{OF.descripcio}}</td>
            <td>
              <a class='veure table_icon' href="{{ path('iniciar_test',{'OF':OF.id}) }}">
              <span class='fa fa-eye'> 
                
              </span></a>

              <a class='borrar table_icon' href="{{ path('delete_test',{'OF':OF.id}) }}">
              <span class='fa fa-close'> 
                
              </span></a>

            </td>

          </tr>

  {% endfor %}

      </tbody>
    </table>
  </div>