

{% for resultat in tests_list %}

	{% set mesures = resultat.mesures %}
	{% set mesures_length = mesures | length %}
	{% set test = resultat.test %}
    {% set maquina = resultat.maquina %}
    {% set OF = test.Of %}

    <div class="resultats-table_contenedor">

  <h2> {{ maquina.familia.nom }} Maquina {{maquina.numero}} el dia: {{ resultat.data | date('d-m-Y')  }} </h2>

<table id='resultat_dades' class='light_grey'>
<thead>

    <tr>
      <th> OF </th>
      <th> Color </th>
      <th> Linia </th>
      <th> Hora </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><a href="{{ path('iniciar_test',{'OF':OF.id}) }}">{{ OF.numero }}</a> </td>
      <td>{{ OF.color }}</td>
      <td>{{ OF.getLinia().numero }}</td>
      <td>{{ resultat.data | date('H:i:s')  }}</td>
    </tr>
      
  </tbody>
</table>
<div class="vertical-space_20"></div>

<table id='resultat_dades' class='light_grey'>
  
  <thead>

    <tr>
      <th> </th>
      <th> Valors nominals </th>
      <th> Valor obtingut </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class='magnitude'>Mitjana</td>
      <td>{{ resultat.mitjanaesp }} gr/m</td>
      <td>{{ resultat.mitjana|number_format(2, '.', ',')}}  gr/m</td>
    </tr>
    <tr>
      <td class='magnitude'>DESC%</td>
      <td>{{ resultat.descmax }} %</td>
      <td class='{{ resultat.descentratge > resultat.descmax ? 'error' : '' }}'>{{ resultat.descentratge|number_format(2, '.', ',') }} %</td>
    </tr>
    <tr>
      <td class='magnitude'>CV%</td>
      <td>{{ resultat.devmax }}</td>
      <td class='{{ resultat.dev > resultat.devmax ? 'error' : '' }}'>{{ resultat.dev|number_format(2, ',', '.') }}</td>
    </tr>  

  </tbody>

</table>
</div>

 



{% endfor %}


