
  
  <table id="tests_table" class="stripe data_tests_table" cellspacing="0" width="100%">
      <thead>
        <tr id='special_tr'>
          <th> Id </th>
          <th> Data </th>
          <th> Hora </th>
          <th> OF </th>
          <th> Partida </th>
          <th> Color </th>
          <th> Familia </th>
          <th> Maquina </th>
          <th> X </th>
          <th class='obtingut'> X </th>
          <th> DESC% </th>
          <th class='obtingut'> DESC% </th>
          <th> CV% </th>
          
          
        </tr>
      </thead>

      <tbody>

  {% for resultat in tests_list %}
  
  {% set test = resultat.getTest() %}
  {% set maquina = resultat.getMaquina() %}
  {% set OF = test.Of %} 
  
  {% if OF %}

  <tr id='special_tr_body' class='unclicked clickedException'>
    <td>{{ resultat.id }}</td>
    <td>{{ resultat.data | date('d:m:Y') }}</td>
    <td>{{ resultat.data | date('H:i:s')  }}</td>
    <td>{{ OF.numero }}</td>

    <td>{{OF.getNumPartida()}}</td>
    <td>{{ OF.color }}</td>
    <td>{{ maquina.familia.nom  }}</td>
    <td>{{maquina.numero}}</td>

    <td>{{ resultat.mitjanaesp }}</td>
    <td class='resultat_mitjana'>{{ resultat.mitjana|number_format(3, '.', ',')}}
    <td>{{ resultat.descmax }} %</td>
    <td class='{{ resultat.descentratge > resultat.descmax ? 'error' : 'ok' }}'>{{ resultat.descentratge|number_format(2, '.', ',') }} %</td>
    <td >{{ resultat.dev|number_format(2, '.', ',') }} %</td>
    
    </tr>

     
        {% endif %}
      {% endfor %}

    </tbody>
  </table>
      
  


   





