
{% set mesures_length = mesures | length %}


{# Paràmetres utilitzats en el test #}

<div class="resultats-table_contenedor">

  <h2> Resúm dels resultats </h2>

<table id='resultat_dades' class='light_grey'>
<thead>

    <tr>
      <th> Longitud del fil </th>
      <th> nº de mesures realitzades </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ resultat.longitud }} m</td>
      <td>{{ mesures_length }}</td>
    </tr>
      
  </tbody>
</table>

</div>

  

{# tabla que muestra los resultados resumidos del test #}

<div class="resultats-table_contenedor">

  <h2> Magnituds </h2>

<table id='resultat_dades' class='light_grey'>
  
  <thead>

    <tr>
      <th> </th>
      <th> Valor esperat </th>
      <th> Valor obtingut </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class='magnitude'>Mitjana</td>
      <td>{{ resultat.mitjanaesp }} gr/m</td>
      <td>{{ resultat.mitjana|number_format(2, '.', ',')}}  gr/m</td>
    </tr>
    <tr>
      <td class='magnitude'>DESC%</td>
      <td>{{ resultat.descmax }} gr/m</td>
      <td class='{{ resultat.descentratge > resultat.descmax ? 'error' : '' }}'>{{ resultat.descentratge|number_format(2, '.', ',') }} gr/m</td>
    </tr>
    <tr>
      <td class='magnitude'>CV%</td>
      <td>{{ resultat.devmax }}</td>
      <td class='{{ resultat.dev > resultat.devmax ? 'error' : '' }}'>{{ resultat.dev|number_format(2, ',', '.') }}</td>
    </tr>  

  </tbody>

</table>

</div>


{# Tabla con las medidas tomadas #}

<div class="resultats-table_contenedor">

  <h2>Mesures de pes i densitat</h2>

<table class="data-list light_grey cubic">
  <thead>
      <tr>
        <th>nº</th>
        <th>Pes</th>
        <th>Densitat</th>
      </tr>
    </thead>
    <tbody>
      
{% for mesura in mesures %}

  {{ include('AppBundle:include:mesura_row.html.twig', {
      "mesura":mesura
    }, with_context = false ) }}

{% endfor %}

  </tbody>

</table>

</div>



<div class="resultats_actions clickable">
<div class="action-button green">
    <a href="{{
      path('reopen_result',{'resultat':resultat.id}) 
      }}"> 
      <span class='fa fa-retweet'>
          Reempendre el test 
      </span>
    </a>
</div>
</div>