{#
  Variables que es reben:

    . OF - Ordre de Fabricació
    . resultat - Resultat associat al test i a la màquina
#}


{# Al solucionar la lectura del port serie s'ha de tornar a habilitar el botó "Mesurar" #}

<div class="one-col-contenedor">
  
  {{ include( 'AppBundle:form:intranet_admin.html.twig', {
      "form":resultParamsForm,
      "form_title":"Parametres del test",
      "form_mode":"plegable",
    }, with_context = false ) }}

<input type="hidden" name='resultat_id' value='{{ resultat.id }}'>

</form>

</div>

<div class="two-cols-contenedor">

<div class="right_side">

  {{ include( 'AppBundle:form:intranet_admin.html.twig', {
      "form":mesuraForm,
      "form_title":"Nova mesura",
    }, with_context = false ) }}


<input type="hidden" name='resultat_id' value='{{ resultat.id }}'>

<div class='buttons'>
  <button 
    {#type='button'
    id='realitzar_mesura' 
    
    data-resultatId='{{ resultat.id }}'#}
    class='intranet-submit'>
      Mesurar
    </button>
</div>

<div class="clear"></div>

</div>
<div class="left_side">

<table class="data-list mesures">
  <thead>
      <tr>
        <th>nº</th>
        <th>Pes</th>
        <th>Densitat</th>
      </tr>
    </thead>
    <tbody id='mesures_body'>
      
{% for mesura in mesures %}


  {{ include('AppBundle:include:mesura_row.html.twig', {
      "mesura":mesura
    }, with_context = false ) }}


{% endfor %}

  </tbody>

</table>




</div>

</div>