{#
  Variables que es reben:

    . OF - Ordre de Fabricació
    . resultat - Resultat associat al test i a la màquina
#}


{% set maquina = resultat.maquina %}
{% set sublinia = maquina.sublinia %}

<p> Maquina num. {{ maquina.numero }}</p>

<p> Resultat id: {{ resultat.id }}</p>


<p> Finalitzat? {{ resultat.done ? 'Si' : 'No' }}</p>
<p> Exit? {{ resultat.testok ? 'Si' : 'No' }}</p>

{{ 
   include(
    'AppBundle:form:intranet_admin.html.twig',
    {
      "form":resultParamsForm,
      "form_title":"Parametres del test",
      "form_mode":"plegable",
    }, 
    with_context = false
    ) 
}}
</form>


{% set mesures = resultat.getmesures() %}
<table class="intranet_table_list mesures">
  <thead>
      <tr>
        <th>mesura num.</th>
        <th>Pes</th>
        <th>Densitat</th>
      </tr>
    </thead>
    <tbody>
      
{% for mesura in mesures %}

  <tr>
    <td>{{ mesura.numero }}</td> 
    <td>{{ mesura.pes.valor }} {{  mesura.pes.unitat }}</td> 
    <td>{{ mesura.densitat.valor }} {{ mesura.densitat.unitat }}</td> 

  </tr>
{% endfor %}

  </tbody>

</table>

{{ 
   include(
    'AppBundle:form:intranet_admin.html.twig',
    {
      "form":mesuraForm,
      "form_title":"Nova mesura",
    }, 
    with_context = false
    ) 
}}

<div class='buttons'>
  <button 
    type='button'
    id='realitzar_mesura' 
    class='intranet-submit'
    data-resultatId='{{ resultat.id }}'>
      Mesurar
    </button>
</div>

<div class="clear"></div>

<script>
  var ajax_route = '{{ path('llegir_mesura') }}' ;
</script>