{% extends 'AppBundle:layout:intranet_layout.html.twig' %}


{% block content_menu %}
  
  <header id="admin-tests_menu-sup">

     <nav class="menu-sup_frame">
      
      <a 
        class="frame-element" 
        href="{{ path('actual_tests') }}">

        <div class="icon">
          <span class='fa fa-dropbox'></span>
        </div>

        <div class="title">
          Tests
        </div>
      </a>


      <a 
        class="frame-element" 
        href="{{ path('admin_tests') }}">

         <div class="icon">
           <span class='fa fa-flag-o'></span>
         </div>
         <div class="title">
          OF's
          </div>
      </a>

      <a 
        class="frame-element" 
        href="{{ path('tests_historial') }}">

        <div class="icon">
          <span class='fa fa-database'></span>
        </div>

        <div class="title">
          Historial
        </div>

      </a>

      <a 
        class="frame-element" 
        href="{{ path('resultats_resum_inici') }}">

        <div class="icon">
          <span class='fa fa-check-square-o'></span>
        </div>

        <div class="title">
          Resultats
        </div>

      </a>

      
     </nav>

   </header>

{% endblock %}


{% block pageContent %}

  <div id='admin-tests_list-container'>

    {{ render(controller(
      'AppBundle:Test:list_OF_pendents'
      )) 
    }}

  </div>

  <div class="one-col-contenedor">


    <div id="admin-tests_form-container">
    
      {{include('AppBundle:form:intranet_admin.html.twig',{
        "form":form,
        "form_title":"Crear Ordre de Fabricació",
      },with_context = false)}}

    </div>{# admin-tests_form-container #}

    
  </div>{#one col contenedor #}

{# pageContent #}
{% endblock %}