{% extends 'AppBundle:layout:admin_tests.html.twig' %}

{% block title %} RESULTATS {% endblock title %}

{% block content_submenu %} 
<script>
  var get_data_tests = "{{ path('get_data_tests') }}" ;
  var goToTest = "{{ path('render_result_ajax') }}" ;
  var novamesura = "{{ path('nova_mesura_ajax') }}" ;
  var borrar_mesura = "{{ path('delete_mesura') }}" ;
  // cambiem el valor d'aquesta variable per a un comportament diferent
  var finalitzar_resultat = "{{ path('finalitzar_resultat_tests_oberts')}}" ;

</script>
  

{% endblock content_submenu %}
  


{% block pageContent %}
 

{# FAMILIES DE MÀQUINES 
=============================================#}

<div id='families_maquines' class="maquina_list_tests calendari_options">

{% set ultim = '' %}
  {% for familia in families %}
    {% if ultim != familia.tipus %}

    <div class="action-button blue unclicked"
        data-tipus='{{familia.tipus}}'>

      <span class='fa fa-share-square-o'>{{familia.tipus}}</span>
      
      {% set ultim = familia.tipus %}

    </div>

  {% endif %}
{% endfor %}
    
    <div class="action-button blue unclicked"
        data-tipus='all'>

              <span class='fa fa-share-square-o'>Veure Tots</span>

            </div>

      {# </div>  actions contenedor #}
  </div> {# maquina list tests #}

<div id="calendari_container">

{# calendari 
  ========================================= #}
{{ render(controller('AppBundle:Utils:calendar')) }}


</div>
  
<div id="calendari_tests_container">

  <div id="tests_contenedor">
   
  </div>   

</div> {# calendari_tests_container #}    

</div> {# calendari_container #}

{% endblock pageContent %}


