{% extends 'AppBundle:content:admin_tests.html.twig' %}

{% block content_submenu %} 
<script>
  var get_data_tests = "{{ path('get_data_tests') }}" ;
  var tipus_route = "{{ path('actual_tests_list') }}" ;
  var goToTest = "{{ path('render_result_ajax') }}" ;
  var novamesura = "{{ path('nova_mesura_ajax') }}" ;
  var borrar_mesura = "{{ path('delete_mesura') }}" ;
  // cambiem el valor d'aquesta variable per a un comportament diferent
  var finalitzar_resultat = "{{ path('finalitzar_resultat_tests_oberts')}}" ;
</script>
  

{% endblock content_submenu %}
  

 


{% block pageContent %}
 

<div class="two-cols-contenedor">

  <div class="left_side resultats_resum" >

      
    <div id="datas_list_contenedor" class="maquina_list_tests">
        <h2> Resultats </h2>

       <table id="tests_table" class="stripe" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Data</th>
          <th>nº de Tests</th>
          <th>Accions</th>
  
        </tr>
      </thead>

      <tbody>

        {% for data in dates %}

        <tr class='unclicked clickedException'>
          
          <td>{{data.data}}</td>
          <td>{{data.getResultat | length}}</td>
          <td >
            <span 
              class='gotests veure fa fa-arrow-circle-right' 
              data-timeo='{{data.id}}'>
            </span>
           </td>

        </tr>

      {% endfor %}

    </tbody>
  </table>
      
    </div>

    </div> {# list box #}



  <div class="right_side resultats_resum">

    <div class="one-col-contenedor">

      <div id="tests_contenedor">
      {# Bloque donde se muestran los tests y los resultados#}
      
        

      </div> {# test contenedor #}
    </div>{# one-col-contenedor #}
  </div> {# right_side #}
</div>



{% endblock pageContent %}


