{% extends 'AppBundle:content:admin_tests.html.twig' %}

{% block content_submenu %} 
<script>
  var get_data_tests = "{{ path('get_data_tests') }}" ;
  var tipus_route = "{{ path('actual_tests_list') }}" ;
  var goToTest = "{{ path('render_result_ajax') }}" ;
  var novamesura = "{{ path('nova_mesura_ajax') }}" ;
  var borrar_mesura = "{{ path('delete_mesura') }}" ;
  // cambiem el valor d'aquesta variable per a un comportament diferent
  var finalitzar_resultat = "{{ path('finalitzar_resultat_tests_oberts')}}" ;
</script>
  

{% endblock content_submenu %}
  

 


{% block pageContent %}
 
 
{# calendari 
  ========================================= #}

<div id="calendari">

  {% for key,month in months %}
    <div class="month">
       <div class="month-title">
          <span>{{key}}</span>
       </div>
       <div class="month-days">
         {% for day,value in month %}
           <div class="month-day">
              <span 
              class='{{ value == false?'no_tests':'gotests veure' }} unclicked'
              data-timeo='{{value}}'>
              {{day}}
              </span>
           </div>
         {% endfor %}
       </div> {# month days #}
    </div>
    
    
  {% endfor %}

</div>{# calendari #}

 <div id="tests_contenedor">
   
 </div>     
    

{% endblock pageContent %}


