{% extends 'AppBundle:content:admin_tests.html.twig' %}

{% set test = OF.getTest() %}

{% block pageContent %}
   
   {{ parent() }}

<script>
  var maquina_route = "{{ path('iniciar_test_ajax') }}" ;
</script>  

<div class="one-col-contenedor">

  <div class="info-contenedor">

    <div class="frame-info">
       <div class="title">
         <span>Of num:</span>
       </div>
       <div class="content">
        <div class="text">
          <span>{{ OF.numero }}</span>
        </div>
        <div class="buttons">
          
        </div>
         
      </div>
        
    </div>

    <div class="frame-info">
      <div class="title">
        <span>Num. de linia:</span>
      </div>
      <div class="content">
        <div class="text">
          <span>{{ OF.linia.numero }}</span>
        </div>
        <div class="buttons">
           
        </div>
      </div>
    </div>

    <div class="frame-info">
      <div class="title">
        <span>Color: </span>
      </div>
      <div class="content">
        <div class="text">
          <span>{{ OF.color }}</span>
        </div>
        <div class="buttons">
           <span>edit</span>
        </div>
      </div>
    </div>

    <div class="frame-info">
      <div class="title">
        <span>Estat: </span>
      </div>
      <div class="content">
        <div class="text">
          <span>{{ OF.done }}</span>
        </div>
        <div class="buttons">
          <span>edit</span>
        </div>
      </div>
       
    </div> {# frame info #}

  </div> {# info contenedor #}

</div> {# one-col contenedor #}

<div class="one-col-contenedor">
  {% if not OF.done %}

  <a href="{{ path('finalitzar_OF',{'OF':OF.id}) }}"> 
    Finalitzar OF
  </a>  

   {% else %}
  <a href="{{ path('finalitzar_OF',{'OF':OF.id}) }}"> 
    Report de la OF
  </a> 
   {% endif %}
</div>

  <div class="two-cols-contenedor">

  	<div class="left_side">
      
{# Incluimos la plantilla para mostrar la visualización de linias de producción #}
    {% if maquina is defined %}
      {{ include(
    'AppBundle:include:general_view.html.twig',
    {
      "linias":linia,
      "viewMode":'testView',
      "OF":OF,
      "maquina_actual":maquina.id,
    }, 
    with_context = false
    )  
    }}
    
    {% else %}

    {{ include(
    'AppBundle:include:general_view.html.twig',
    {
      "linias":linia,
      "viewMode":'testView',
      "OF":OF,
    }, 
    with_context = false
    )  
    }}

    {% endif %}

    </div>

    <div class="right_side" id='test_contenedor'>

      {% if maquina is defined %}
        {# Lista con los tests de una máquina para la OF actual #}
        {{ include(
        'AppBundle:include:new_test.html.twig',
          {
            "maquina":maquina,
            "OF":OF,
            "resultats":resultats,
          }, 
          with_context = false
          )  
        }}
      
        {% block TestSpace %}
              

        {% endblock TestSpace %}

      {% else %}

      Elige una maquina para inciar el test

      {% endif %} 

    </div>

  </div>

{% endblock %}


