{% extends 'AppBundle::intranet_layout.html.twig' %}

{% block title %} OF Actives {% endblock %}


{% block content_submenu %} 

<script>
  var goToTest = "{{ path('render_result_ajax') }}" ;
  var novamesura = "{{ path('nova_mesura_ajax') }}" ;
  var borrar_mesura = "{{ path('delete_mesura') }}" ;
  var ajax_route = "{{ path('llegir_mesura') }}" ;
  // cambiem el valor d'aquesta variable per a un comportament diferent
  var finalitzar_resultat = "{{ path('finalitzar_resultat_tests_oberts')}}" ;
  
  var maquina_route = "{{ path('resultats_list_ajax') }}" ;
  var goToTest = "{{ path('render_result_ajax') }}" ;
  var borrar_resultat = "{{ path('delete_result') }}" ;
  
  var nou_resultat = "{{ path('nou_resultat') }}" ;
</script>
  

{% endblock content_submenu %}

{% block content_menu %}

<div id="menu_sup_left_section">

  <header id="admin-tests_menu-sup">



     <nav class="menu-sup_frame">

      <a class="frame-element" 
         href="{{ path('active_OF') }}">

        <div class="icon">
           <span class='fa fa-flag-o'></span>
         </div>
         <div class="title">
          OF actives
          </div>
      </a>



      <a 
        class="frame-element" 
        href="{{ path('tests_historial') }}">

        <div class="icon">
          <span class='fa fa-database'></span>
        </div>

        <div class="title">
          Historial
        </div>

      </a>

    </nav>
     

   </header>
</div>



<div id="menu_sup_right_section">
  
  {% block menu_sup_right %}

  {% endblock menu_sup_right %}

</div>


{% endblock content_menu %}


